body{
    background-image: : url('https://i.pinimg.com/564x/da/41/f9/da41f950fdb0c0889bd9fb692bf7d685.jpg')
    font-size: 30px;
  }
  
  .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    background-color: #F4EDEA;
    border: 10px solid #F4D1AE;
    color: gray;
  
    width: 70%;
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 6%;
    padding: 0 50px;
  }
  .welcome {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 6%;
}
  .btn-container{
    text-align: center;
  }