body{
    background: url('https://i.pinimg.com/564x/76/6f/68/766f684ddad8f4dcc48233bfc76ed12e.jpg')
    background-color: #B38E86;
    font-size: 30px;
  }
  
  .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    background-color: #F4EDEA;
    border: 10px solid #F4D1AE;
    color: gray;
  
    width: 70%;
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 6%;
    padding: 0 50px;
  }
  
  .btn-container{
    text-align: center;
  }